.body{
    /* width: 100%; */
    font-family: 'Montserrat';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav_hide{
    display: none;
}

.overlay{ 
    position: absolute; 
    transition: 0.5s ease; 
    height: 625px; 
    width: 100%; 
    margin: 0;
    background-color: rgb(94, 35, 117); 
    opacity: 0.4;
    z-index: 1;
} 

.header_content{
    z-index: 2;
}

header{
    /* border: black solid 1px; */
    /* font: Montserrat 72px #ffffff; */
    font-family: 'Montserrat';
    font-size: 14px;
    color: #ffffff;  
    font-weight: bold;
    height: 625px;
    width: 100%;
    min-width: 500px;
    background: linear-gradient(rgba(94, 35, 117, 0.5), rgba(117, 34, 117, 0.5)), url(./Images/header.png) no-repeat;
    background-size: cover; 
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    text-align: center;
}

.arr{
    display: block;
    display: flex;
    justify-content: center;
    margin: 50px 0px;
    position: relative;
}

.menu{
    display: none;
}

.nav{
    /* background-color: aqua;
    border: 1px solid black; */
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding-top: 15px;
}

.nav_options ul{
    /* border: 1px solid black; */
    display: flex;
    list-style-type: none;
}

.nav_options li a{
    /* border: 1px solid black; */
    font-size: 14px;
    text-decoration: none;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    /* align-content: space-around; */
    color: #ffffff;
}

.nav_options li a:hover{
    color: rgb(0, 178, 233);
}

.logo{
    /* border: 1px solid black; */
    margin-left: 15px;
    width: 150px;
    height: 25px;
}

.msg{
    /* border: 1px solid black; */
    list-style-type: none;
    margin-right: 30px;
    display: flex;
    width: 200px;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.msg li a:hover{
    color: rgb(0, 178, 233);
}

.header_center{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* align-content: center; */
    margin: 5% 0%;
}

#heading{
    font-size: 72px;
}

.head_but{
    font-weight: 600;
    height: 40px;
    width: 150px;
    font-size: 13px;
    background-color: rgb(0, 178, 233);
    color: black;
    border: none;
}

.welcome{
    /* border: black solid 1px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 60px 0;
    /* align-items: center; */
    /* height: 28%; */
}

.wel_sec1{
    /* border: solid black 1px; */
    height: 33%;
    display: flex;
    justify-content: center;   
    align-content: start; 
    gap: 25px;
}

.wel_sec1_1{
    /* border: solid black 1px; */
    width: 30%;
    padding: 0px 35px;
}


.wel_sec1_2{
    /* border: solid black 1px; */
    width: 37%;
    font-size: 62px;
}

#wel_sec1_2_1{
    margin: 0;
}

#wel_sec1_2_1_wel{
    color: rgb(0, 178, 233);
}

.wel_sec1_3{
    /* border: solid black 1px; */
    margin: 0;
    width: 33%;
    font-size: 16px;
    font-weight: 400;
    padding: 0px 20px;
}

.wel_sec1_3_1{
    font-weight: 400;
}

.wel_sec2{
    /* border: solid black 1px;     */
    height: 66%;
    display: flex;
    justify-content: center;   
    padding: 80px;
}

/* .wel_sec2_1{
    border: solid black 1px;   
} */

#wel_sec2_1_p{
    font-size: 62px;
    /* padding: 0% 5%; */
    margin: 0;
}

#wel_sec2_1_p_s{
    color: rgb(0, 178, 233);    
}

/* --------------------------------------------------------------------------------------------------------------------------------------------- */

.card{
    /* border: solid black 1px;  */
    /* background-color: blue;  */
    /* height: 33%; */
    display: flex;
    flex-direction: column;
    align-items: center;    
    width: 245px;
    height: 455px;
    border: #8F8F8F;
    box-shadow: 0px 2px 2px 0px #8F8F8F;
}

.card_img{
    padding: 0.5% 0.8%;
    width: 245px; 
    height: 183px;
}

.card_detail{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card_detail_1{
    display: flex;
    justify-content: start;    
    align-items: center;
    padding: 0px 10px;
}

.card_rating{
    background-color: green;
    border-radius: 5px;
    display: flex;
    justify-content: center; 
    align-items: center;
    padding: 0px 10px;
    height: 27px;
}

.card_rating_rate{
    margin: 0px 5px;
}

.card_count{
    margin-left: 10px;
}

.card_detail_3{
    display: flex;
    justify-content: start;
    margin: -13px 0px;
}

.card_profpic{
    padding: 0px 10px;
    display: flex;
    align-items: center;
}

.card_view{
    display: flex;
    flex-direction: column;
    margin: 20px 0px;
}

.card_view_1{
    display: flex;
    justify-content: start;
    align-items: center;
}

.card_view_1_1{
    display: flex;
    align-items: center;
    font-size: 12px;
}

.card_view_1_2{
    display: flex;
    align-items: center;
    padding-left: 113px;;
}

.card_view_2{
  display: flex;
  justify-content: center;
  align-items: center;
}

.card_detail_2{
    margin: -12px 11px;
}


.months{
    color: grey;
}

.price{
    color: rgb(82, 82, 82);
}

.card_but{
    width: 100%;
    height: 30px;
    color: rgb(0, 178, 233);  
    border: none;  
    border: rgb(0, 178, 233) solid 1px;
    background-color: #ffffff;
}

.rate{
    color: #ffffff;
}

.count{
    color: grey;
}

.un{
    color: rgb(0, 178, 233);  
}

.description{
    font-weight: bold;
    font-size: 18px;
}

.grid_cards{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    gap: 25px;
    padding: 0% 5%;
}

/* --------------------------------------------------------------------------------------------------------------------------------------------- */

.overlay_m{ 
    /* border: black solid 1px; */
    position: absolute; 
    transition: 0.5s ease; 
    height: 700px; 
    width: 100%; 
    background-color: rgb(94, 35, 117); 
    opacity: 0.5;
    z-index: 1;
} 

.music_content{
    /* border: black solid 1px; */
    display: flex;
    justify-content: center;
    height: 700px;
    width: 100%;
    z-index: 2;
    padding: 50px;
}

.music{
    /* border: black solid 1px; */
    background: linear-gradient(rgba(94, 35, 117, 0.5), rgba(110, 38, 110, 0.5)), url(./Images/Group.png) no-repeat;
    background-size: cover; 
    background-position: center;
    color: #ffffff;
    display: flex;
    justify-content: center;
    height: 700px;
    z-index: 0;
}

.music_1{
    /* border: solid black 1px;   */
    width: 45%;
    display: flex;
    flex-direction: column;
    /* margin-top: -25%; */
    /* padding: 15px 170px; */
}

.music_2{
    display: grid;
    grid-template-columns: 207px 207px;
    grid-template-rows: 275px 275px ;
    gap: 25px;
}

.music_card_caption{
    font-size: 30px;
    color: #ffffff;
    background-color: #000000;
    opacity: 0.5;
    margin: -52px 0px;
    padding: 6px 10px;
    width: 187px;
}

.music_card{
    width: 207px;
    height: 275px;;
}

#music_heading_p{
    margin: 0;
    font-size: 62px;
}

#music_heading_p_s{
    color: rgb(0, 178, 233); 
}

#music_para_p{
    font-size: 24px;
}

#music_but{
    font-weight: 600;
    height: 40px;
    width: 150px;
    font-size: 13px;
    background-color: rgb(0, 178, 233);
    color: black;
    border: none;
}

.music_card:hover{
    opacity: 0.5;
}

.team{
    /* width: 100%; */
    /* border: 1px solid black; */
    padding: 0 50px;
    margin: 60px 0;
    display: flex;
    justify-content: center;
}

.t_1{
    /* border: 1px solid black; */
    width: 33%;
    /* padding: 25px 50px; */
    display: flex;
    flex-direction: column;
}

.t_2{
    display: flex;
    justify-content: center;
    /* padding: 25px 50px; */
    justify-content: center;
}

.t_1_bullet{
    display: flex;
    align-items: center;
}

#t_1_heading_p{
    margin: 0;
    font-size: 62px;
}

#t_1_heading_p_s{
    color: rgb(0, 178, 233); 
}

.bullet_p{
    color: #8F8F8F;
    font-size: 22px;
    padding: 5px 10px;
}

.bullet{
    width: 8px;
    height: 65px;
    background-color: rgb(0, 178, 233); 
}

.col_card{
    padding: 20px 20px;
}

.col_card_description{
    margin: 0;
    font-size: 20px;
    font-weight: bold;
}

.col_card_name{
    margin: 0;
    font-size: 32px;
    color: rgb(0, 178, 233); 
}

.stud{
    /* border: black solid 1px; */
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    margin: 0;
    padding: 20px 20px 20px 80px;
    align-items: start;
}

#stud_heading_p{
    margin: 30px 0px;
    font-size: 62px;
    font-weight: bold;
}

#stud_heading_p_s{
    color: rgb(0, 178, 233); 
}

.stud_comment{
    margin: 20px 0px;
    border: 1px solid rgb(141, 141, 141);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 87%;
    box-shadow: rgb(168, 168, 168) 0px 2px 3px 0px;
}

.stud_comment_c{
    display: flex;
    flex-direction: column;
    padding: 15px 15px;
}

.stud_comment_c_top{
    font-size: 16px;
    font-weight: bold;
}

.stud_comment_c_bot{
    font-size: 16px;
    font-weight: lighter;
}

.stud_prof{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 205px;
    padding: 5px 15px;
}

.stud_prof img{
    padding: 0px 8px;
}

.stud_name{
    margin: 5px 0;
    display: flex;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
}

.play{
    margin: 5px 0;
    display: flex;
    justify-content: center;
    color: #8F8F8F;
    font-size: 14px;
    font-weight: 400;
}

.stud_comment_media{
    display: flex;
    /* flex-direction: column; */
}

.stud_b{
    width: 20px;
    /* height: 100%; */
    height: 200px;
    background-color: rgb(0, 178, 233); 
}

.overlay_f{ 
    /* border: black solid 1px; */
    position: absolute; 
    transition: 0.5s ease; 
    height: 95%;
    width: 100%; 
    background-color: rgb(94, 35, 117); 
    opacity: 0.5;
    z-index: -1;
} 

.footer_content{
    /* border: black solid 1px; */
    display: flex;
    flex-direction: column;
    width: 100%; 
    color: rgb(255, 255, 255); 
    z-index: 2;
}

.footer{
    /* border: black solid 1px; */
    /* height: 500px; */
    width: 100%;
    background: linear-gradient(rgba(94, 35, 117, 0.5), rgba(110, 38, 110, 0.5)), url(./Images/footer.png) no-repeat;
    background-size: cover; 
    background-position: center;   
    z-index: 0;
}

.footer_1{
    padding: 0px 25%;
}
#footer_1_p_s{
    font-size: 62px;
    color: rgb(0, 178, 233); 
}

#footer_1_p{
    font-size: 72px;
}

.h_1{
    font-size: 20px;
    font-weight: bold;
}

.h_2{
    font-size: 16px;
    padding: 0px 20px;
}

.footer_2{
    display: flex;
    gap: 50px;
    margin: 0px 0 0 310px;
}

/* .office{
    
} */

.contact_2{
    display: flex;
    flex-direction: column;
}

.phone{
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.fax{
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.mail{
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.social{
    display: flex;
    flex-direction: column;
}

.social_1{
    padding: 0px 15px;
}

.social_2{
    display: flex;
    justify-content: space-between;
}

.social_logo{
    padding: 0px 15px;
}

.social_logo a:hover{
    opacity: 0.5;
}

#foot_last{
    font-size: 14px;
    background-color: #000000;
    color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 0px;
    padding: 20px;
}

.footer_3_mobile{
    display: none;
}

.h_b{
    font-weight: 600;
}

.overlay{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(108, 1, 122, 0.568);
    z-index: 2;
    /* cursor: pointer; */
}

/* --------------------------------------------||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||------------------------------------------------------ */

@media only screen and (max-width: 1050px) {

    .nav{
        display: none;
    }

    .nav_hide{
        margin: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 50px;
    }

    .header{
        width: 100%;
        height: 800px;
    }

    .header_content, .overlay{
        width: 100%;
        height: 800px;        
    }

    .head_but{
        display: none;
    }

    .arr{
        display: block;
        display: flex;
        justify-content: center;
    }

    .nav_options_menu{
        display: none;
    }

    .msg{
        width: 25%;
    }

    .nav_options ul {
        display: none; /* Hide the navigation options by default on smaller screens */
        flex-direction: column;
        position: absolute;
        top: 50px; /* Adjust the value based on your design */
        left: 0;
        width: 100%;
        background-color: #333;
        z-index: 1;
    }

    .nav_options ul.show {
    display: flex;
    }

    .nav_options li {
    width: 100%;
    text-align: center;
    }

    .nav_options li a {
    padding: 15px; /* Adjust the padding for better spacing */
    }

    .menu-toggle {
        display: block;
        cursor: pointer;
        margin-right: 30px;
    }

    .msg li{
        display: none; /* Hide the icons by default on smaller screens */
    }

    .wel_sec1{
        display: flex;
        flex-direction: column;
        justify-content: center;   
        align-items: center;     
    }

    .wel_sec1_1{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px 0px;
    }

    .wel_sec2{
        display: flex;
        flex-direction: column;
        justify-content: center;   
        align-items: center;    
        padding: 0;         
    }

    .music{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 1065px;
        padding: 0;
    }

    .music_content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 1065px;      
        padding: 0;  
    }

    .overlay_m{
        height: 1065px;          
    }

    .music_1{
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #music_but{
        width: 100%;
        height: 50px;
        font-size: 25px;
    }

    .music_heading_p{
        margin: 0;
    }

    .music_card{
        margin: 0;
    }

    .music_2{
        margin: 20px;
    }

    .team{
        /* border: black solid 5px; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .t_1{
        width: 100%;;
    }

    .t_1_heading{
        display: flex;
        justify-content: center;
    }

    /* .t_1_bullet{
        
    } */

    .bullet{
        min-width: 8px;
        min-height: 65px;
        background-color: rgb(0, 178, 233); 
    }

    .col_card_img{
        min-width: 50%;
    }

    .t_2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* width: 100%;         */
    }

    .stud_b{
        min-width: 15px;
        height: 100%;
        background-color: rgb(0, 178, 233);         
    }

    .stud_comment{
        width: 100%;
    }

    .stud_comment_media{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .stud_prof{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 5px 50px;
    }

    .overlay_f{
        height: 100%;
    }

    .footer_content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer_1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .footer_2{
        /* border: #000000 solid 1px; */
        padding: 0;     
        margin: 0;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .social{
        padding: 15px 0px;
    }

    .footer_3{
        display: none;
    }

    .grid_cards{
        /* border: rgb(158, 158, 158) solid 1px; */
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto;
        padding: 0 5px;
        gap: 0;
    }

    .card{
        border-bottom: solid grey 1px; 
        padding: 0 10px;
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;   
        height: 430px;  
        /* width: 245px;
        /* height: 455px; 
        border: #8F8F8F; */
        box-shadow: 0; 
    }
    
    .card_img{
        padding: 10px 10px;
        display: block;
        justify-content: center;
        align-items: center;
    }
    
    .card_detail{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .card_detail_1{
        display: flex;
        justify-content: start;    
        align-items: center;
        padding: 0px 10px;
    }
    
    .card_rating{
        background-color: green;
        border-radius: 5px;
        display: flex;
        justify-content: center; 
        align-items: center;
        padding: 0px 10px;
        height: 27px;
    }
    
    .card_rating_rate{
        margin: 0px 5px;
    }
    
    .card_count{
        margin-left: 10px;
    }
    
    .card_detail_3{
        display: flex;
        justify-content: start;
        margin: -13px 0px;
    }
    
    .card_profpic{
        display: none;
    }

    .card_profusername{
        margin: 0 12px;
    }
    
    .card_view{
        display: flex;
        flex-direction: column;
        margin: 20px 0px;
    }
    
    .card_view_1{
        display: flex;
        justify-content: start;
        align-items: center;
    }
    
    .card_view_1_1{
        display: flex;
        align-items: center;
        font-size: 12px;
    }
    
    .card_view_1_2{
        display: flex;
        align-items: center;
        padding-left: 113px;;
    }
    
    .card_view_2{
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    .card_detail_2{
        margin: -12px 11px;
    }
    
    
    .months{
        color: grey;
    }
    
    .price{
        color: rgb(82, 82, 82);
    }
    
    .card_but{
        display: none;
    }

    .footer_3_mobile{
        width: 100%;
        text-align: center;
        display: block;
    }
    
}